<a href="https://colab.research.google.com/github/SavithaKikkeri/Python-Projects/blob/main/Day_1_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.12.12

Print Function

In [ ]:
print("My father's favorite car is Toyota")

My father's favorite car is Toyota

In [ ]:
print('My father\'s favourite car is Toyota')

My father's favourite car is Toyota

In [ ]:
print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

\ = ignores the ''

\n = make a newline

\t for tab

In [ ]:
print(len("I am learning Python"))

20

In [ ]:
print("I \nam\nlearning\n\tPython")

I
am
learning
	Python

In [ ]:
print("2" + "3")

print(2 + 3)

23
5

Print used between string objects, + will behave like concatenation operator

Print  used between numeric objects, + will behave like arithmetic operator

In [ ]:
print("2", "3")
print(2,3)

2 3
2 3

In [ ]:
print("2", 3, True, 3.14)

2 3 True 3.14

In [ ]:
print("C:\\Users\\Yusuf\\Documents")

C:\Users\Yusuf\Documents

In [ ]:
print("I","am","learning","Python")
# this is an example of multiple arguments in Python
print("I" + "am"+"learning"+"Python")

I am learning Python
IamlearningPython

In [ ]:
# this is an example of concatination arguments in Python
print("I" + "am"+"learning"+"Python")

IamlearningPython

**Variable**

In [ ]:
my_name = "Savitha"
# This code will assign value Savitha to variable my_name

In [ ]:
print(myname)
# myname is not defined

NameError: name 'myname' is not defined

In [ ]:
my_name = "Savitha"
print(my_name)

Savitha

In [ ]:
my_age=33
your_age=30
my_age=your_age # in this step value of your_age will be assigned to my_age
#pythontutor.com
print(my_age)

30

***Variable Naming Rules***

dont start with numbers

dont use space in variable name

you can only use _

Dont start with uppercase
(Not a rule but best practice)

**Input()  Function**

In [ ]:
print("Tell me a joke.")
anything = input()
print("Hmm.. ", anything, "interesting")
# add any sentence on anything box

Tell me a joke.
you tell me
Hmm..  you tell me interesting

In [ ]:
# simple calculator
print("This is a simple calculator.")
number1 = input("Enter the first number: ")
number2 = input("Enter the second number: ")

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 20
Enter the second number: 25
20 added to 25 is 2025

In [ ]:
# simple calculator
print("This is a simple calculator.")
number1 = input("Enter the first number: ")
number2 = input("Enter the second number: ")

print(number1, "added to", number2, "is", number1+number2)

print(type(number1))
print(type(number2))

This is a simple calculator.
Enter the first number: 20
Enter the second number: 25
20 added to 25 is 2025
<class 'str'>
<class 'str'>

There are 3 function for type conversion

int(): convert to integer data type

str(): convert to string data type

float(): convert to decimal

In [ ]:
print("This is a simple calculator.")
# convert results of input function to integers
number1 = int(input("Enter the first number: ")) # input converted to int
number2 = int(input("Enter the second number: ")) # input converted to int

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 20
Enter the second number: 25
20 added to 25 is 45

In [ ]:
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 20
Enter the second number: 25
20.0 added to 25.0 is 45.0

In [ ]:
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

This is a simple calculator.
Enter the first number: 2
Enter the second number: 3.6
2.0 added to 3.6 is 5.6
2.0 divided by 3.6 is 0.5555555555555556
2.0 multiply by 3.6 is 7.2

In [ ]:
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

print(number1, "raised to power", number2, "is", number1**number2)

print(number1, "square root", "is", number1**0.5)

This is a simple calculator.
Enter the first number: 16
Enter the second number: 2
16.0 added to 2.0 is 18.0
16.0 divided by 2.0 is 8.0
16.0 multiply by 2.0 is 32.0
16.0 raised to power 2.0 is 256.0
16.0 square root is 4.0

# New section